[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
shortuuid = "*"
cloudinary = "*"
django-filter = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
